/* General Styles */
.fa-icon {
    color: #01061E;
    margin-right: 8px;
}

.payment-page-logo {
    height: 80px;
}

.payment-nav {
    height: 120px;
    justify-content: center;
    margin-bottom: 0px !important;
    background-color: white !important;
}

.basket-info {
    background-color: #F7F7F7;
    justify-content: right;
    display: flex;
    overflow: hidden;
    border-right: 1px solid #e7e7e7;
}

@media screen and (max-width: 1200px) {

    .basket-info,
    .pay-info {
        justify-content: center;
        display: flex;
    }
}

.flags {
    height: 15px;
    margin-right: 8px;
}

.shipping-date {
    display: flex;
    gap: 10px;
}

/* Footer Styles */
.payment-footer {
    background-color: #01061E;
    /* Updated background color */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/* Split Container */
.bc_split {
    display: grid;
    grid-template-columns: 300px 1fr;
}

@media only screen and (max-width: 620px) {
    .bc_split {
        grid-template-columns: 1fr;
    }
}

/* Billing Options */
.bc_options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    place-items: center;
    gap: 30px;
    align-items: end;
}

/* Rows */
.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
    .row1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.row-adress {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 20px auto;
    border: 1px solid #e7e7e7;
}

/* Billing Section */
.billing {
    margin-top: 40px;
}

/* Total Section */
.total {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.total h4 {
    font-weight: 600;
}

.txt-orange {
    color: #E78E44;
}

/* credit info */
.toggle-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 15px;
}

.toggle-switch {
    display: flex;
    border: 1px solid #000B3B;
    align-items: baseline;
    gap: 10px;
    border-radius: 5px;
}


/* Form Styles */

.basket-info input::placeholder,
.basket-info select::placeholder {
    font-size: 15px;
    /* Change this value to your desired font size */
}

.basket-info label {
    font-weight: 100 !important;
}

.card-details .form-group {
    margin-bottom: 0px !important;
}

.card-details .form-group input {
    border-radius: 0;
    text-align: center;
    font-size: 15px;
}

.card-details .btn {
    height: 60px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #A0A0A0;
    font-weight: 900;
    color: white;
    border-radius: 5px;
}
.card-details .btn:hover{
    background-color: #939393;
}
.pay-info input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
    top: 4px;
}

.check {
    display: flex;
    align-items: end;
    white-space: nowrap;
}

.w-50 {
    width: 50%;
}

/* Footer Icons */
.payment-footer-icons {
    display: flex;
    justify-content: center;
    gap: 8%;
    flex-wrap: wrap;
    margin-bottom: 50px !important;
}

.payment-footer .fa-icon {
    color: #E78E44;
    font-size: 28px;
    margin: 5px;
}

/* Credit Cards Section */

.credit-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #01061E;
}

.credit-cards img {
    height: 30px;
}

.payment-footer div {
    margin: 10px;
}

.last {
    margin-top: 50px !important;
}

/* Sticky Navigation */
.stickynav {
    text-align: center;
    background-color: #D54928 !important;
    height: 65px;
    color: #F7F7F7;
    margin: 0;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.stickynav h4 {
    margin: 0 !important;
}

/* paypal */
.paypal {
    margin-top: 10px;
}

.paypal .btn-pp {
    background-color: #F2BA36;
    width: 100%;
    border: none;
    border-radius: 0px;
}

.paypal .btn-pp:hover {
    background-color: #e2ab2c;
}

.paypal .btn-cc {
    background-color: #353738;
    width: 100%;
    border: none;
    border-radius: 0px;
    margin-top: 10px;
    color: white !important;
}

.paypal .btn-cc:hover {
    background-color: #353738;
}

/* card inputs */
.inp-1{
    border-radius: 6px 6px 0px 0px !important;
}
.inp-1,
.inp-2,
.inp-3,
.inp-4 {
    border-bottom: none;
}

.inp-3,
.inp-5 {
    border-right: none;
}
.inp-5{
    border-radius: 0px 0px 0px 6px !important;
}
.inp-6{
    border-radius: 0px 0px 6px 0px !important;
}
.card-details .input-lg{
     border-color: #abababb0;
}
.card-details .input-lg::placeholder{
    font-weight: 800;
}

/* alert checkbox */
.alert-cb {
    background-color: #B10101;
    color: white;
    padding: 8px;
    font-size: 12px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.alert-cb a {
    color: white;
    text-decoration: underline;
}

.pay-info input[type="checkbox"] {
    width: 18px;
    place-self: center;
}

/* Increase the size of all radio buttons */
.pay-info input[type="radio"] {
    width: 18px;
    height: 18px;
}

.check label {
    margin-bottom: 0px;
}

.custom-hr {
    margin-bottom: 5px !important;
}

.billing .form-group {
    padding: 0;
}

.dflex-inputs {
    display: flex;
    gap: 15px;
}

@media screen and (max-width: 1200px) {
    .dflex-inputs {
        display: block;
    }
    .hidden-element{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .bc_options {
        display: block;
    }
}

.card-details #example-email:focus {
    outline: none;
    box-shadow: none;
    /* Remove box shadow on focus */
    border-color: #CFCFCF;
}

.toggle2 {
    border: 1px solid lightgray;
}
.bc_split a{

    text-decoration: none;
}
.bc_split a:hover{
    text-decoration: none;
}
 .pay-info .btn.btn-block:focus,
 .pay-info .btn.btn-block:active,
.pay-info input[type="checkbox"] {
   border:none !important;
border-color: transparent !important;
outline-style: none !important;
     /* Change to the color you want */
 }
/*  */
/* .cart-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 600px) {
    .cart-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */